.Name{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.logo{
    position: static;
    width: 23%;
    padding: 1%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
}
.img{
    margin: 10px;
    padding: 10px;
}
.nav{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
    float: right;
    padding-right: 50px;
}
.jumbotron{
    background-color: white;
 font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.container{
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
}
ul.inside {
    list-style-position: inside;
  }

#contact{
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.container-fluid {
    background-color: #373738;
    padding: 50px;
    color: white;
}
.container-fluid a {
    text-align: center;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 40px;
}
.btn {
    margin: auto;
    padding: 6px 10px;
    border-radius: 18px;
    background-color: #5B1B34;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.btn-primary {
    padding: 6px 18px;
    border-radius: 18px;
    background-color: white;
    color: #5B1B34;
    border: 2px solid #5B1B34;
}
.btn-primary:hover {
    background-color: #5B1B34;
    color: white;
}
@media only screen and (max-width: 1000px) {
}
